<div class="container">
  <div class='container px-5 px-sm-0'>
    <div class='row'>
      
      <div class='col-md-3'>
        <h3><i class="fa-solid fa-user"></i>My page</h3>
        <div class="message_container mt-4">
          <p>このサイトはテストサイトです!<br>
          8月４日から作成しています〜🍵<br>
          アプリケーション名である"Plant"という名のとおり<br>
          植物に関する投稿サイトです😆<br>
          今まで作成してきたBookersやMeshiterroを参考にした簡易サイトとなっております🌱</p>
          <%= render 'info', user: current_user %>
        </div>
      </div>
  
      <div class='col-md-8 offset-md-1'>
        <table class='table'>
          <thead>
            <tr>
              <th>Image</th>
              <th>Title</th>
              <th>Thoughts</th>
              <th colspan="3"></th>
            </tr>
          </thead>
      　　  <tbody>
      　　    <% @users.each do |user| %>
                <% if user.id == current_user.id %>
                  <% if user.posts.present? %>
                    <% user.posts.each do |post| %>
                      <tr>
                        <td><%= image_tag post.get_image(100,100) %></td>
                        <td><%= post.title %></td>
                        <td><%= post.body %></td>
                        <td><%= link_to "Po詳細へ", post_path(post) %></td>
                      </tr>
                    <% end %>
                    <% else %>
                    <td><p>投稿がありません。。。</p></td>
                  <% end %>
                <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    　　
    </div>
  </div>
</div>