<h3><i class="fa-regular fa-pen-to-square"></i>投稿Form</h3>

<% if post_new.errors.any? %>
  <%= post_new.errors.count %><p>件のエラーにより保存できませんでした。<br>内容を確認し入力して下さいな。</p>
    <ul>
      <% post_new.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

<%= form_with model:@post_new, method: :post do |f| %>
  <div class="form-group">
    <%= f.label :Image %><br /><i class="fa-regular fa-image"></i>
    <%= f.file_field :image, accept: "image/*" %>
  </div>
  <div class="form-group">
    <%= f.label :Title %><br />
    <%= f.text_field :title, autofocus: true, class: "form-control post_title" %>
  </div>
  <div class="form-group">
    <%= f.label :Thoughts %><br />
    <%= f.text_area :body, autofocus: true, class: "form-control post_body" %>
  </div>
  <div class="form-group">
    <%= f.submit "投稿", class: "btn btn-sm btn-success", class: "btn btn-success" %>
  </div>
<% end %>