<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

      <h3><i class="fa-solid fa-file-pen"></i>Post編集</h3>
      
      <% if @post.errors.any? %>
        <%= @post.errors.count %><p>件のエラーにより保存できませんでした。<br>内容を確認し入力して下さいな。</p>
          <ul>
            <% @post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
        
      <%= form_with model:@post do |f| %>
        <div class="form-group">
          <%= f.label :Image %><br /><i class="fa-regular fa-image"></i>
          <%= f.file_field :image, accept: "image/*" %>
        </div>
        <div class="form-group">
          <%= f.label :Title %><br />
          <%= f.text_field :title, autofocus: true, class: "form-control post_title" %>
        </div>
        <div class="form-group">
          <%= f.label :Thoughts %><br />
          <%= f.text_area :body, autofocus: true, class: "form-control post_body" %>
        </div>
        <div class="form-group">
          <%= f.submit "編集", class: "btn btn-sm btn-success", class: "btn btn-success" %>
        </div>
        <% if @post.present? && @post.user == current_user %>
          <%= link_to "戻る", post_path(@post), class: "back" %>
        <% end %>
      <% end %>

    </div>
  </div>
</div>