<h1>Posts一覧</h1>

<%= render 'users/info', user: current_user %>

<%= render 'new', post: @post %>

<% @posts.each do |post| %>
  <div>
    <p>ユーザーネーム：<%= post.user.name %></p>
    <p>投稿画像：<%= image_tag post.get_image(100,100) %></p>
    <p>タイトル：<%= post.title %></p>
    <p>説明：<%= post.body %></p>
    <%= link_to "投稿詳細へ", @post %>
  </div>
<% end %>