<div class="container">
  <div class='container px-5 px-sm-0'>
    <div class='row'>
  
      <div class='col-md-3'>
        <h3><i class="fa-solid fa-envelopes-bulk"></i>Posts一覧</h3>
        <%= render 'users/info', user: current_user %>
        <%= render 'new', post: @post ,post_new: @post_new %>
      </div>
       
       
      <div class='col-md-8 offset-md-1'>
        <table class='table'>
          <thead>
            <tr>
              <th>Userimage</th>
              <th>Username</th>
              <th>Image</th>
              <th>Title</th>
              <th>Thoughts</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>  
            <% @posts.each do |post| %>
              <tr>
                <td><%= image_tag post.user.get_profile_image(100,100), style: "border-radius: 50%; width: 100px; height: 100px; object-fit:cover;" %></td>
                <td><%= post.user.name %></td>
                <td><%= image_tag post.get_image(100,100) %></td>
                <td><%= post.title %></td>
                <td><%= post.body %></td>
                <td><%= link_to "詳細へ", post_path(post) %></td>
                <td><%= link_to "#{post.post_comments.count} コメ", post_path(post.id) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
  
    </div>
  </div>
</div>