<!DOCTYPE html>
<html>
  <head>
    <title>Plant</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <script src="https://kit.fontawesome.com/8644edc9d3.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class=" mb-3 navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand">Plant<i class="fa-solid fa-leaf"></i></span></a>
          <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li>
                <%= link_to users_about_path, class: 'nav-link text-light' do %>
                  <i class="fa-solid fa-user"></i>My page
                <% end %>
              </li>
              <li>
                <%= link_to users_path, class: 'nav-link text-light' do %>
                  <i class="fa-solid fa-users"></i>User一覧
                <% end %>
              </li>
              <li>
                <%= link_to posts_path, class: 'nav-link text-light' do %>
                  <i class="fa-solid fa-envelopes-bulk"></i>Post一覧
                <% end %>
              </li>
              <li>
                <%= link_to homes_about_path, class: 'nav-link text-light' do %>
                  <i class="fa-regular fa-comment"></i>About
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-light' do %>
                  <i class="fa-solid fa-door-open"></i>Log out
                <% end %>
              </li>
            <% else %>
              <li>
                <%= link_to root_path, class: 'nav-link text-light' do %>
                  <i class="fa-solid fa-house"></i>Top
                <% end %>
              </li>
              <li>
                <%= link_to homes_about_path, class: 'nav-link text-light' do %>
                  <i class="fa-regular fa-comment"></i>About
                <% end %>
              </li>
              <li>
                <%= link_to new_user_registration_path, class: 'nav-link text-light' do %>
                  <i class="fa-solid fa-user-plus"></i>Sign up
                <% end %>
              </li>
              <li>
                <%= link_to new_user_session_path, class: 'nav-link text-light' do %>
                  <i class="fa-solid fa-right-to-bracket"></i>Log in
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <% flash.each do |message_type, message| %>
        <div class="flash-message <%= message_type %>"><%= message %></div>
      <% end %>
     
      <%= yield %> 
    </main>
  </body>
</html>
